@import url('https://fonts.googleapis.com/css?family=Rubik');

.logo{
	margin: 0;
	padding-top: 80px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 3em;
	font-weight: normal;
}
.logo a{
	text-decoration: none;
	color: #f2eb2e;
	padding: 5px;
	font-family: 'Rubik', sans-serif;
	transition: background-color 0.4s ease, color 0.4s ease;
}
.logo a:hover{
	background-color: #f2eb2e;
	color: #4b89e6;
}

header{
	background-color: #4b89e6;
}
header nav{
	display: flex;
	font-size: 0; /* remove whitespace between children */
}
header nav a{
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	color: #f2eb2e;
	font-family: 'Rubik', sans-serif;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	padding: 0 17px;
	transition: background-color 0.4s ease, color 0.4s ease;
}
header nav a:hover{
	background-color: #f2eb2e;
	color: #4b89e6;
}
header nav a.current{
	background-color: #f0fdd0;
	color: #4b89e6;
	cursor: default;
}
header nav .search{
	display: inline-block;
	margin-left: auto;
	border: 1px solid #f2eb2e;
	align-self: center;
	padding-left:5px;
}

@keyframes slideSearchField {
	0%{
		width: 0;
	}
	50%, 100%{
		width: 200px;
	}
}
@keyframes highlightSearchButton {
	0%, 75%{
		background-color: #f2eb2e;
	}
}
@keyframes highlightSearchButtonSvg {
	0%, 75%{
		fill: #4b89e6;
	}
}
@keyframes highlightSearch {
	0%, 75%{
		background-color: #f2eb2e;
	}
}
/*.search{
	display: inline-block;
	height: 60px;
	margin-left: 16px;
	transition: width 0.4s ease;
}*/
.search-button{
	vertical-align: middle;
	cursor: pointer;
	fill: #f2eb2e;
	transition: fill 0.4s ease, background-color 0.4s ease;
}
.search-button:hover{
	fill: #4b89e6;
	background-color: #f2eb2e;
}
.search-input{
	vertical-align: middle;
	height: 26px;
	background-color: #4b89e6;
	color: #f2eb2e;
	font-size: 1rem;
	border: none;
}
.search-input:focus{
	outline: none;
}

/*.search.activated{
	animation: highlightSearch 1s forwards;
}
.search.activated + .search-button{
	animation: highlightSearchButton 1s forwards;
}
.search.activated + .search-button{
	animation: highlightSearchButtonSvg 1s forwards;
}
.search.activated{
	width: 200px;
}*/
.search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #f2eb2e;
	opacity: 0.8;
}
.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #f2eb2e;
	opacity: 0.8;
}
.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #f2eb2e;
	opacity: 0.8;
}
.search-input::placeholder { /* CSS3 Specification */
	color: #f2eb2e;
	opacity: 0.8;
}

@media screen and (max-width: 590px){
	header nav{
		flex-direction: column;
	}
	header nav .search{
		margin: 20px auto;
		width: 100%;
	}
  header nav .search input{
	  width: calc(100% - 26px);
  }
}