@page{
    size: A4;
    margin: 0;
}
article{
    //width: 210mm;
    font: 13px "Times New Roman" ;
    margin-top: 20px;
    padding: 0 15px;
    //border: 1px solid black;
}
header{
    font: bold 18px "Times New Roman";
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;

}
body{
    border: 1px solid black;
    width: 210mm;
    height: 297mm;
    margin: 0;
    //padding-top: 10px;
}
div.customerInfo, div.networkInfo{
    //border: 1px solid black;
    //height: 100px;
    //width: 40%;
    display: inline-block;
    position: relative;
    padding: 5px;
}
div.customerInfo{
    margin-left: 6%;
}
div.networkInfo{
    border: 1px solid black;
    float: right;
    margin-right: 6%;
}
div.mainBody{
    height: 50%;
    //border: 1px solid red;
}
div.mainBody:first-child{
    border-bottom: 1px dashed black;
    padding-bottom: -10px;
}
div.contactTelephone{
    font: bold 13px sans-serif;
   // border: 1px solid black;
    text-align: right;
    padding-right: 15px;
    margin-top: 20px;
}
.networkLabel{
    background-color: white;
    border: 1px solid black;
    position: relative;
    top: -61px;
    //left: 28%;
    padding: 0  3px;
    margin: 0 auto;
    float: left;
}
.networkInfo > div:not(.left, .right){
    position: relative;
    bottom: 15px;
}
#right, #left{
    //border: 1px solid red;
    display: inline-block;
    padding: 0;

    margin-top: 9px;
}
#right{
    float:right;
}
#left{
    float: left;
    margin-right: 15px;
}
div.signature{
    text-align: right;
    padding-right: 60px;
    padding-top: 20px;
}