h1 {
    color: #0f63ff;
}
body{
    background-color: #ffffbd;
}
table, tr, td, th{
    border: 2px solid black;
    padding: 15px;
    font-size: 1em;
}
table{
    border-collapse: collapse;
    width: 200px;
}
th{
    padding: 5px;
    color:white;
    background-color: #0f63ff;
   // border-color: black;
}
input{
    background-color: #fffabb;
    border: 1px solid #0f63ff;
    width: 100%;
}
input.fee{
    width: 1.5em;
    align-self: left;
    text-align: left;
}
td.fee{
    width: 100px;
    text-align: left;
}
td.name, input.fee, td.fee, .head{
    white-space: nowrap;
}
div.non-menu{
    margin-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f63ff;
    border: 2px solid black
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-right: 2px solid black;
}
a:hover:not(.active) {
    background-color: #00a6ff;
    color: black;
}
.active {
    background-color: #f4ff26;
    color: black;
}